---
---
@import "{{ site.theme }}";

.logo {
    width: 10px;
    height: 10px;
    top: 50px;
    left: 20px;
}

.floating-block {
    display: inline-block;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.floating-block:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}
